@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100vh;
}

body {
    background-image: url(imagens/fundo1.jpg);
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to top, black 30%, gray, white);
}

header > h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.745);
    padding: 50px;
    font-family: "Sankofa Display", serif;
    font-size: 3em;
}

span#burguer {
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    border-top: 2px solid black;
}

menu > ul > li > a:hover {
    background-color: white;
    color: black;
    transition-duration: 0.5s;
}

main {
    min-width: 600px;
    max-width: 1100px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.385);
    box-shadow: 0px 0px 15px black;
    padding-top: 50px;
}

main > article {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px; 
    padding: 20px;
}

main > article > h2 {
    color: black;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.745);
    padding: 0px 50px 50px 50px;
    font-family: "Sankofa Display", serif;
    font-size: 2em;
}

main > article > aside > h3 {
    color: black;
    text-indent: 50px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 20px;
}

main > article > aside {
    border: 1px solid black;
    margin: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

main > article > aside > div {
    text-align: center;
}

main > article > p {
    text-indent: 20px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.5em;
    padding: 30px;
}

main > article > aside > ul {
    list-style-type: '\1F9E0\00A0';
    columns: 2;
    text-align: justify;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}

main > article > aside > ul > li {
    font-size: 0.8em;
    line-height: 20px;
    max-width: 20vw;
}

main > article > aside > p {
    padding: 20px;
    text-align: justify;
    text-indent: 20px;
}

aside > video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer > strong {
    color: white;
}

p#voltar {
    text-align: center;
}
